.game-result {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
}
.game-result__window {
    width: 500px;
    position: fixed;
    top: 45vh;
    left: calc(50vw - 250px);
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.game-result__text {
    width: 100%;
    font-size: 24px;
    color: #fff;
    text-align: center;
}
.game-result__button {
    width: 200px;
    margin-top: 20px;
}